# Discord Configurations
BOT_USER_ID=968291176572670013
DEPOSIT_LOGGING_CHANNEL_ID=1267322097844092969
HOME_SERVER_ID=1158815687477833848
HOME_SERVER_INVITE_URL=https://discord.gg/RrzWbfv3c5
OWNER_USER_ID=626141672761458718
WITHDRAWAL_LOGGING_CHANNEL_ID=1163344886230167612
# Work Server Configuration
WORK_SERVER_URL=http://work-server:7176
# Mongo Replica Set Configurations
ARBITER_NAME=mongo-meerkat-dev
ARBITER_PORT=27016
MONGO_NETWORK_NAME=mongo-net-dev
NODE1_NAME=mongo-monkey-dev
NODE1_PORT=27014
NODE2_NAME=mongo-marsupial-dev
NODE2_PORT=27015
REPL_SET_NAME=rs1
# Port Configurations
API_PORT=8041
BACKEND_NETWORK_NAME=backend-net-dev